<form #composeForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group" [hidden]="!body.valid">
    <input type="text" class="formControl" [(ngModel)]="msg.author" placeholder="Enter your username" name="author" required/>
  </div>
  <div class="form-group">
    <input type="text" class="formControl" [(ngModel)]="msg.body" placeholder="Write something..." #body="ngModel" name="body" required/>
  </div>
  <button type="submit" class="btn btn-primary mr-2" [disabled]="!composeForm.form.valid">
    Post
  </button>
</form>
