<ngb-accordion (panelChange)="toggleReplies()">
  <ngb-panel>
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <p class="text-body">
            {{ msg.body }}
          </p>
          <small>
            <span class="text-black-50">
              Posted at
            </span>
            {{ msg.createdAt | date:'mediumTime' }}
            <span class="text-black-50">
              on
            </span>
            {{ msg.createdAt | date:'mediumDate' }}
          </small>
          <small class="text-info">
            <span class="text-black-50">
              by
            </span>
            {{ msg.author }}
          </small>
        </div>
      </div>
      <button ngbPanelToggle [disabled]="msg.id" class="btn btn-sm btn-outline-secondary mt-2" data-toggle="button">
        {{ opened ? 'Hide replies' : 'Show replies' }}
      </button>
    </ng-template>
    <ng-template ngbPanelContent>
      <span *ngIf="isLoadingReplies | async" class="text-secondary">
        Loading replies...
      </span>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let reply of replies | async">
          <app-reply [reply]="reply"></app-reply>
        </li>
      </ul>
      <app-compose-reply [parentId]="msg.id"></app-compose-reply>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
