<div>
  <p>
    {{ msg.body }}
  </p>
  <span>
    {{ msg.createdAt | date:'medium' }}
  </span>
  <span>
    {{ msg.author }}
  </span>
</div>
<div>
  <button type="button" *ngIf="hideReplies" class="btn btn-secondary-outline" (click)="toggleReplies()">Show replies</button>
  <button type="button" *ngIf="!hideReplies" class="btn btn-secondary-outline" (click)="toggleReplies()">Hide replies</button>
  <ul [hidden]="hideReplies">
    <li *ngFor="let reply of replies">
      <app-reply [reply]="reply"></app-reply>
    </li>
  </ul>
  <div class="error" *ngIf="">Password is required</div>
</div>
<app-compose-reply [parentId]="msg.id"></app-compose-reply>
